* {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}

body {
    text-align: center;
    padding: 1.5rem 5rem;
}

.container {
    padding: 2.5rem 3rem;
    width: 70%;
    margin: 5rem auto;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.2);
}

.title {
    letter-spacing: 3px;
    color: #555;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px 50px;
    width: 50%;
    height: 200px;
    margin: 2rem auto 1rem;
    border-radius: 10px;
    background-color: #666;
}

.top__card {
    display: flex;
    justify-content: space-between;
}

.text {
    font-weight: 300;
    font-size: 19px;
    color: white;
    text-transform: uppercase;
}

.text-num:not(:first-child) {
    margin-left: 10px;
}

.text-num {
    font-size: 16px;
}

.month-label,
.year-label,
.expire_date {
    letter-spacing: 2px;
    font-size: 15px !important;
}

/* FORM STYLE */
.form {
    margin: 2rem auto 1rem;
    padding: 10px 50px;
}

.inputstyle {
    font-size: 17px;
    outline: none;
    width: 500px;
    margin: 10px auto;
    padding: 10px 30px;
}

.expstyle {
    width: calc(500px / 2) !important;
}
.nbstyle{
    width: calc(490px / 4) !important;
}

@media screen and (min-width:300px){
    body{
        padding: 0;
        height: 100%;
        overflow-x: hidden;
    }
    .title{
        margin-top: .9rem;
    }
    .container{
        box-shadow: none;
        margin: 0rem 0 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }
    .card{
        width: 90%;
        margin: 1rem auto .5rem;
    }
    .inputstyle{
        font-size: 14px;
        width: 290px;
        padding: 10px 15px;
    }
    .nbstyle{
        width: calc(280px / 4) !important;
    }
    .expstyle{
        width: calc(280px / 2) !important;
    }
    .text{
        font-size: 16px;
    }
}